ISARD_DATABASE_URL=mysql://isard:CHANGE_ME@127.0.0.1:3308/code_battle
ISARD_ORGANIZER_TOKEN=CHANGE_ME_LONG_RANDOM_TOKEN
ISARD_APP_NAME=ISARD Code Battle
PORT=8000
MYSQL_PORT=3308
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT
